/*
#BEE9E8
#62B6CB
#1B4965
#CAE9FF
#5FA8D3
*/
* {
	margin: 0;
	padding: 0;
    background-color: #89D1EB;
    
}

.nav .container{
    background-color: #1B4965;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1200px;

}

.nav .container img {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

.nav .container ul {
    display: flex;
    background-color: #1B4965;
    list-style-type: none;
    
}
.nav .container button {
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    color: #1B4965;
    font-weight: bold;
    transition: .5s;
    
}

.nav .container button:hover {
    box-shadow: 0px 15px 20px rgba(137,209,235, 0.4);
    transform:translateY(-2px);
    cursor: pointer;
}

.nav .container li {
    background-color: #1B4965;

}
.header .container{
    display: flex;
    color: white;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
}

.header .container .text {
    width: 400px;
    line-height: 150%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
    text-shadow: 1px 1px 2px black;
}

.header .container .text h1 {
    padding: 10px;
}

.header .container .me img {
    width: 200px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: 30px;

}

.header .container ul{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .container li img{
    background-color: #1B4965;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tiles .container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    justify-content: space-evenly;
}

.tiles .container .tile {
    width: 250px;
    padding: 10px 20px;
    margin: 20px 50px;
    border-radius: 15px;
    background-color: #1B4965;
    text-align: center;
    border:none;
    color: white;
    transition: .5s; 
    text-shadow: 1px 1px 2px black;
}

.tiles .container .tile:hover {
    transform: translate(0px, -2px);
    box-shadow: 0px 15px 20px rgb(255, 255, 255);
    text-shadow: none

}

.tiles .container .tile h3 {
    padding: 10px;
    background-color: #1B4965;
}

.tiles .container .tile h3:hover {
    
}

.tiles .container .tile p {
    background-color: #1B4965;
 }

.foot .container {
    background-color: #1B4965;
    color: white;
    text-align: center;
    height: 150px;
    max-width: 1200px;
    margin: auto;
}

.foot .container h2 {
    background-color: #1B4965;
    padding-top: 30px;
    padding-bottom: 30px;
}

.foot .container ul {
    background-color: #1B4965;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 300px;
    margin: auto;
}

.foot .container ul li {
    background-color: #1B4965;

}

.foot .container ul button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transform: .5s;
    
}

.foot .container ul button:hover {
    text-decoration: underline;
}