* {
	margin: 0;
	padding: 0;
}

.nav .container{
    display: flex;
    background-color: rgb(0, 59, 0);
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
}

.nav .container .img1 {
    width: 100px;
    height: 100px;
    background-color: rgb(20, 104, 20);
}

.nav .container ul {
    display: flex;
}

.nav .container li {
    margin: 10px;
    padding: 10px;
    list-style-type: none
}

.header .container{
    background-color: rgb(20, 104, 20);
    height: 400px;
    display: flex;
    color: whitesmoke;
}

.header .container .text {
    background-color: black;
    width: 400px;
    line-height: 150%;
    margin: 10px;
    padding: 10px;
}

.header .container ul{
    list-style-type: none;
    background-color: black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .container li {
    background-color: rgb(20, 104, 20);
    width: 50px;
    height: 50px;
}

.header .container .img2 {
    background-color: black;
    margin: 10px;
    padding: 10px;
    width: 200px;
    margin-left: 200px;
}

.tiles .container ul{
    display: flex;
    background-color: rgb(0, 59, 0);
    color: white;
    flex-wrap: wrap;
    max-width: 1000px;
}

.tiles .container li {
    flex-basis: 250px;
}

<div class="tiles">
        <div class="container">
            <div class="pro1">
                <h3>Project 1</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="pro1img"></div>
            </div>
            <div class="pro2">